:root {
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Grid Layout */
#grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
}

/* Header */
header {
    display: flex;
    justify-content: right;
    align-items: center;
    grid-column: 1 / 3;
    background-color: rgba(39, 28, 28, 0.09);
}

/* Navigation */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 3;
    background: rgba(39, 28, 28, 0.05);
    
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 28px;
    flex-direction: space-evenly;
}

/* Main Section */
#section1 {
    grid-column: 2 / 3;
    background: rgba(255, 56, 79, 0.6);
    padding: 20px;
    grid-row: 3
}

/* Aside */
aside {
    grid-column: 1 / 2;
    grid-row: 3/3;
    padding: 20px;
    background: rgba(232, 232, 232, 0.6);
}

/* Footer */
footer {
    grid-column: 1 / 3;
    background-color: rgba(39, 28, 28, 0.09);
    text-align: center;
    padding: 10px;
}

/* Body Background */
body {
    margin: 0;
    background-image: radial-gradient(
        circle at 0% 100%, 
        #8B0000,
        #CCCCCC,
        #00008B
    );
}

/* Hover Effect */
nav ul > li > a:hover {
    color: white;
    border: solid red;
    background-color: blue;
    transform: scale(1.1);
    transition: 0.4s ease;
}

nav a {
    text-decoration: none;
}